@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+KR:wght@100..900&display=swap');


:root{
  --layout-size-1440 : scale(0.9);
  --layout-height-1440 : 2100px;
  --layout_img-margintop-1440 : -85px;
  --layout-aside-height-1440 : 1050px;

  --before_site-size-1024 : scale(0.8);
  --wire_style-font-size-h2-1024 : 80px;
  --layout-size-1024 : scale(0.6);
  --layout-height-1024 : 1600px;
  --layout-margintop-1024 : -230px;

  --layout-size-768 : scale(0.6);
  --layout-height-768 : 2030px;
  --layout-margintop-768 : 40px;
  --before_site-size-768 : scale(0.6);
  --wire_style-size-768 : scale(0.7);
  --wire_style-margintop-768 : 0;
  --wire_style-paddingright-768 : 50px;

  --layout-size-576 : scale(0.6);
  --layout-height-576 : 1460px;
  --layout-margintop-576 : -250px;
  --layout-marginleft-h2-576 : 180px;
  --layout-marginleft-576 : -65px;

  --layout-size-425 : scale(0.37);
  --layout-height-425 : 930px;
  --layout-margintop-425 : -540px;
  --layout-marginleft-425 : 0;

  --layout-size-375 : scale(0.37);
  --layout-height-375 : 880px;
  --layout-margintop-375 : -550px;
}