@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+KR:wght@100..900&display=swap');


:root{
  --layout_img-margintop-1440 : 15px;
  --layout-height-1440 : 2300px;
  --layout-aside-height-1440 : 900px;

  --wire_style-font-size-h2-1024 : 90px;
  --layout-size-1024 : scale(1);
  --layout-height-1024 : 2400px;
  --layout-margintop-1024 : 180px;

  --layout-size-768 : scale(1);
  --layout-height-768 : 2300px;
  --layout-margintop-768 : 180px;
  --before_site-size-768 : scale(0.8);
  --wire_style-size-768 : scale(0.8);
  --wire_style-margintop-768 : 20px;
  --wire_style-paddingright-768 : 0;

  --layout-size-576 : scale(0.8);
  --layout-height-576 : 1850px;
  --layout-margintop-576 : -50px;
  --layout-marginleft-h2-576 : 135px;
  --layout-marginleft-576 : 0;

  --layout-size-425 : scale(0.6);
  --layout-height-425 : 1400px;
  --layout-margintop-425 : -280px;
  --layout-marginleft-425 : 20px;

  --layout-size-375 : scale(0.6);
  --layout-height-375 : 1350px;
  --layout-margintop-375 : -300px;
}