@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

.container {
  width: 1400px;
  margin: 0 auto;
}

.body {
  font-size: 15px;
  /* //.글자폰트 크기 수정 */
  font-family: "Noto Sans KR";
}

/* ---------------------------------------------------------------- */
/* header */
header {
  width: 100%;
  height: 90px;
  background: #000;
  position: relative;
  z-index: 10;
  font-family: "Inter", sans-serif;
  position: fixed;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

header .container nav {
  width: 900px;
}

header nav .nav_bg {
  width: 100%;
  height: 350px;
  background: #910809;
  position: absolute;
  left: 0; top: 90px;
  display: none;
}

header nav>ul.gnb {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header nav>ul.gnb>li:hover>a {
  color: #910809;
  font-weight: bold;
}

header nav>ul.gnb>li {
  width: 20%;
  text-align: center;
  position: relative;
  font-size: 15px;
  font-weight: 500;
}

header nav>ul.gnb>li>a {
  width: 100%;
  height: 30px;
  line-height: 30px;
  display: block;
  background: black;
  color: #fff;
}

header nav>ul.gnb>li>a img {
  margin-left: 5px;
  margin-bottom: 2px;
}

header nav>ul.gnb>li>ul.sub {
  width: 100%;
  position: absolute;
  left: 0; top: 90px;
  display: none;
}

header nav>ul.gnb>li>ul.sub>li {
  width: 100%; 
  height: 36px;
  line-height: 36px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}

header nav>ul.gnb>li>ul.sub>li:hover {
  color: #000;
  font-weight: bold;
}

header nav>ul.gnb>li>ul.sub>li>a {
  display: block;
}

header .container ul.nav_move li i {
  width: 20px;
  height: 20px;
  color: #fff;
  cursor: pointer;
  display: none;
} 

.navi {
  display: flex;
}

.menu {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 80%;
  background: #910809;
  color: white;
  overflow: hidden;
  transition: bottom 0.3s;
  z-index: 1000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.menu ul {
  list-style: none;
  padding: 20px;
  margin: 0;
}

.menu ul>li {
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}

.menu ul>li b {
  color: white;
  text-decoration: none;
  font-size: 20px;
  border-bottom: 1px solid #fff;
  font-weight: 700;
}

.menu ul>li i {
  margin-bottom: 50px;
}

.menu.show {
  bottom: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: none;
}

.overlay.show {
  display: block;
}

.menu ul>li>ul.menu_sub>li {
  font-size: 16px;
}

/* ---------------------------------------------------------------- */
/* fix */
main ul.fix {
  position: fixed;
  margin-top: 440px;
  margin-left: 1740px;
  z-index: 10;
}

main ul.fix li {
  margin-top: 10px;
}

/* ---------------------------------------------------------------- */
/* intro */
#intro {
  width: 100%;
  height: 910px;
  font-family: "Noto Sans KR";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#intro h2 img {
  display: block;
  margin: 0 auto;
  padding-top: 335px;
}

#intro .typing {
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 30px;
  font-weight: 500;
  margin-top: 40px;
}

#intro .typing .text {
  width: 550px;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #333;
}

#intro .typing .text::after {
  content: '';
  margin-left: .4rem;
  border-right: 2px solid #777;
  animation: cursor .9s infinite steps(2);
}

@keyframes cursor {
  from { border-right: 2px solid #222; }
  to { border-right: 2px solid #777; }
}

#intro .scroll p {
  text-align: center;
}

#intro .scroll p {
  margin-top: 240px;
  color: #333;
  font-size: 20px;
  font-weight: 500;
}

#intro .scroll img {
  display: block;
  margin: 0 auto;
  padding-top: 25px;
  animation: scroll 2.5s infinite;
}

@keyframes scroll {
  0% {
    transform: translate(0,0);
    transform: scale(.5);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: translate(0,50px);
  }
}

/* ---------------------------------------------------------------- */
/* about */
#about {
  width: 100%;
  height: 900px;
  background: #fff;
}

#about .container {
  display: flex;
}

/* #about .container .a_left h2 {
  font-family: "Inter";
  font-size: 48px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -2px;
  padding-top: 200px;
} */

/*  */
.a_left { 
  font-family: "Inter";
  font-size: 48px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -2px;
  padding-top: 200px; 
}

/* .mark { 
  border-bottom: 4px solid #111; 
  width: 1rem;
  position: absolute;
  top: 1rem;
  left: 0.1rem;
  transform: translate3d(0, 0, 0);
  animation: mark-anim 10s infinite cubic-bezier(0.55, 0, 0.1, 1);
} */

.r,
.e1,
.s1,
.s2,
.s3,
.s4,
.s5
{ will-change: margin-left, margin-right; }

.r { 
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  animation: r-anim 10s infinite cubic-bezier(0.55, 0, 0.1, 1);
}

.e1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  animation: e1-anim 10s infinite cubic-bezier(0.55, 0, 0.1, 1);
}

.s1 { 
  margin-left: 0.5rem;
  margin-right: 0.5rem; 
  animation: s1-anim 10s infinite cubic-bezier(0.55, 0, 0.1, 1);
}

.s2 { 
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  animation: s2-anim 10s infinite cubic-bezier(0.55, 0, 0.1, 1);
}

.s3 { 
  margin-left: 0.05rem;
  margin-right: 0.05rem;
  animation: s3-anim 10s infinite cubic-bezier(0.55, 0, 0.1, 1);
}

.s4 { 
  margin-left: 0.05rem;
  margin-right: 0.05rem;
  animation: s4-anim 10s infinite cubic-bezier(0.55, 0, 0.1, 1);
}

.s5 { 
  margin-left: 0.05rem;
  margin-right: 0.05rem;
  animation: s5-anim 10s infinite cubic-bezier(0.55, 0, 0.1, 1);
}

@keyframes mark-anim {
  0%, 25%, 100% { 
    left: 1.5%;
  }
  50%, 75%  {
    left: 92%;
  }
}


@keyframes r-anim {
  0%, 25%, 100% { 
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  50%, 75%  {
    margin-left: 3rem;
    margin-right: 2rem;
  }
}

@keyframes e1-anim {
  0%, 25%, 100% { 
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  50%, 75%  {
    margin-left: 1rem;
    margin-right: 1rem; 
  }
}

@keyframes s1-anim {
  0%, 25%, 100% { 
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  50%, 75%  {
    margin-left: 1rem;
    margin-right: 1rem;  
  }
}

@keyframes s2-anim {
  0%, 25%, 100% { 
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  50%, 75%  {
    margin-left: 1rem;
    margin-right: 1rem; 
  }
}

@keyframes s3-anim {
  0%, 25%, 100% { 
    margin-left: 0.05rem;
    margin-right: 0.05rem;
  }
  50%, 75%  {
    margin-left: 0.1rem;
    margin-right: 0.1rem; 
  }
}

@keyframes s4-anim {
  0%, 25%, 100% { 
    margin-left: 0.05rem;
    margin-right: 0.05rem;
  }
  50%, 75%  {
    margin-left: 0.15rem;
    margin-right: 0.1rem; 
  }
}

@keyframes s5-anim {
  0%, 25%, 100% { 
    margin-left: 0.05rem;
    margin-right: 0.05rem;
  }
  50%, 75%  {
    margin-left: 0.1rem;
    margin-right: 0.1rem; 
  }
}
/*  */

.a_left img {
  margin-top: 100px;
  margin-left: 80px;
}

.a_right {
 margin-top: 204px;
 margin-left: 218px;
 cursor: pointer;
}

.a_right ul.about_section>li {
  margin-bottom: 10px;
}

.a_right ul.about_section>li:nth-child(2n+1) {
  background: #878787;
  width: 700px;
  height: 1px;
  margin-bottom: 20px;
}

.a_right ul.about_section>li b {
  color: #333;
  font-family: "Inter";
  font-size: 25px;
  font-weight: 500;
  letter-spacing: -0.2px;
}

.a_right ul.about_section>li b img {
  margin-right: 0;
}

.a_right ul.about_section>li>ul {
  width: 100%;
  color: #333;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.2px;
  margin-bottom: 30px;
  display: none;
}

.a_right ul.about_section>li>ul>li {
  margin-bottom: 10px;
  color: #aaa;
  font-weight: 400;
  letter-spacing: -0.2px;
}

.a_right ul.about_section>li>ul>li:first-child {
  margin-top: 32px;
}

.a_right ul.about_section>li>ul.about_section_sub>li span {
  color: #333;
  font-size: 15px;
}

.a_right ul.about_section>li>ul.about_section_sub>li.twoline {
  line-height: 1.5;
}

/* ---------------------------------------------------------------- */
/* web_design */
#web_design {
  width: 100%;
  height: 2200px;
  background:#000;
  color: #fff;
  font-family: "Inter";
  text-align: center;
}

#web_design .container {

}

/*  */
.w_left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.w_left .main_tit {
  display:table-cell;
  vertical-align:middle;
  display: flex;
  justify-content: center;
}

.w_left .main_tit .w_title {
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

#web_design .container h2 {
  font-size: 210px;
  font-weight: 300;
  line-height: 100px; 
  letter-spacing: -10px;
  padding-top: 230px;
}

#web_design .container h2 span {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: -2px;
}

#web_design .container p {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -2px;
  margin-top: 30px;
}

#web_design .container .btn {
  width: 265px;
  height: 65px;
  border: 1px solid #fff;
  line-height: 65px;
  text-align: center;
  margin-top: 100px;
  cursor: pointer;
}

#web_design .container .btn:hover {
  color: #000;
  background: #910809;
}

#web_design .container .btn a {
  font-size: 15px;
  color: #fff;
  font-family: "Inter";
  font-weight: 500;
  padding: 7px 10px 7px 20px;
  align-items: center;
  line-height: 25px;
}

#web_design .container .btn:hover a {
  color: #fff;
}

#web_design .container .btn i {
  color: #fff;
  margin-left: 46px;
}

.swiper {
  margin-top: 50px;
  margin-left: 0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
}

.swiper-slide img {
  display: block;
  width: 1000px;
}

/*  */
.typing_coding {
  width: 100%;
  height: 700px;
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
}

.coding_html {
  background: #333;
  text-align: left;
  width: 650px;
  height: 700px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  background-image: url(../img/coding_screen.jpg);
}

.typing-container {
  font-size: 15px;
  font-weight:400;
  font-family: "Inter";
  width: 450px;
}

.typing-container.c_html {
  color: #00e1ff;
}

.typing-container.c_css {
  color: #cca110;
}

.typing-container.c_js {
  color: #fb00ff;
}

#cursor {
  border-left: 2px solid #00e1ff;
  animation: blink 0.7s infinite;
  display: inline-block;
  margin-left: 2px;
  height: 15px;
  vertical-align: middle;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.typing_coding_right {
  width: 650px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.coding_css {
  font-size: 10px;
  background: #333;
  text-align: left;
  width: 650px;
  height: 320px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  background-image: url(../img/coding_screen2.jpg);
}

.coding_css pre {
  margin-top: 20px;
}

.coding_js {
  background: #333;
  text-align: left;
  width: 650px;
  height: 320px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  background-image: url(../img/coding_screen3.jpg);
}

.coding_js pre {
  margin-top: 20px;
}

/*  */

/* ---------------------------------------------------------------- */
/* clone_coding */
#clone_coding {
  width: 100%;
  height: 800px;
  background: #000;
  color: #fff;
  position: relative;
}

#clone_coding .container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#clone_coding .container .top {
  width: 100%; 
  display: flex;
  height: 80px;
  align-items: center;
}

#clone_coding .container .main_tit {
  font-family: "Inter";
  font-weight: 400;
  letter-spacing: -2px;
  margin-top: 300px;
  line-height: 0.7;
}

/*  */
#clone_coding .container .main_tit h2 {
  font-size: 90px;
  font-weight: 400;
  letter-spacing: -2px;
  transition:1s;
  -webkit-transition:1s;
  -ms-transition:1s;
  position: relative;
  padding:10px;
}

#clone_coding .container .main_tit span {
  font-size: 48px;
}

#clone_coding .container .main_tit h2:before,
#clone_coding .container .main_tit h2::after {
  content:"";
  position: absolute;
  height: 7px;
  width: 0px;
  background:#910809;
  transition:300ms;
  -webkit-transition:1s;
  -ms-transition:1s;
  opacity:0.3;
  left:50%;
}

#clone_coding .container .main_tit h2:before{
  bottom:-20px;
}

#clone_coding .container .main_tit h2:after{
  top:-10px;
}

#clone_coding .container .main_tit h2:hover{
  letter-spacing:10px;
}

#clone_coding .container .main_tit h2:hover:before,
#clone_coding .container .main_tit h2:hover:after{
  width: 95%;
  opacity:1;
  left:0;
}

#clone_coding .container .main_tit h2:hover ~ h2{
  opacity:0;
}

#clone_coding .container .bottom {
  width: 100%; height: calc(100% - 160px);
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
}

ul.sub_tit {
  height: 400px;
  font-family: "Inter";
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -2px;
  display: flex;
  flex-direction: column;
  color: #910809;
}

ul.sub_tit li.tit {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  margin-bottom: 25px;
  cursor: pointer;
}

ul.sub_tit li.tit:hover, ul.sub_tit li.tit.on{
  color: #fff;
}

ul.sub_tit li.tit:before, ul.sub_tit li.tit.on:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 3px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

ul.sub_tit li.tit:hover:before, ul.sub_tit li.tit:focus:before, 
ul.sub_tit li.tit:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.w_right {
  width: 700px;
  height: 380px;
  border:1px solid #910809;
}

.clone_visual {
  position: relative;
  flex: 1;
  height: 100%;
}

.clone_visual ul.slide {
  width: 100%; height: 100%;
  line-height: 41;
}

.clone_visual ul.slide li {
  position: absolute;
  left: 0; top: 0;
  display: none;
  padding-left: 75px;
}

.clone_visual ul.slide li.on{
  display: block;
}

#clone_coding .container ul.sub_tit .btn {
  width: 265px;
  height: 65px;
  border: 1px solid #fff;
  margin-top: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clone_coding .container ul.sub_tit .btn:hover {
  color: #fff;
  background: #910809;
}

#clone_coding .container ul.sub_tit .btn a {
  font-size: 15px;
  color: #fff;
  font-family: "Inter";
  font-weight: 500;
  letter-spacing: normal;
}

#clone_coding .container ul.sub_tit .btn:hover a {
  color: #fff;
}

#clone_coding .container ul.sub_tit .btn i {
  color: #fff;
  margin-left: 46px;
}

/* ---------------------------------------------------------------- */
/* graphic_design */
#graphic_design {
  width: 100%;
  height: 1030px;
  border-top: 1px solid #ddd;
  background: #000;
  color: #fff;
  font-family: "Inter";
}

#graphic_design .container {
  display: flex;
}

.g_left h2 {
  height: 160px;
  font-size: 75px;
  font-weight: 400;
  letter-spacing: -2px;
  margin-top: 320px;
}

.g_left .g_title {
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

/* .g_left .btn {
  width: 265px;
  height: 65px;
  border: 1px solid #fff;
  line-height: 65px;
  text-align: center;
  margin-top: 50px;
}

.g_left .btn:hover {
  color: #000;
  background: #910809;
}

.g_left .btn a {
  font-size: 15px;
  color: #fff;
  font-family: "Inter";
  font-weight: 500;
  padding: 7px 10px 7px 20px;
  align-items: center;
  line-height: 25px;
}

.g_left .btn:hover a {
  color: #fff;
}

.g_left .btn i {
  color: #fff;
  margin-left: 46px;
} */

.g_left .down_btn {
  width: 265px;
  height: 65px;
  border: 1px solid #fff;
  background: #fff;
  line-height: 65px;
  text-align: center;
  margin-top: 50px;
}

.g_left .down_btn:hover {
  color: #000;
  background: #910809;
}

.g_left .down_btn a {
  font-size: 18px;
  color: #000;
  font-family: "Inter";
  font-weight: 500;
  padding: 7px 10px 7px 20px;
  align-items: center;
  line-height: 25px;
}

.g_left .down_btn:hover a {
  color: #fff;
}

.g_left .down_btn i {
  color: #000;
  margin-left: 46px;
}

.g_left .down_btn:hover i {
  color: #fff;
}

.g_right {
  margin-left: 190px;
}

.g_right .sub_tit p {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -2px;
  margin-top: 175px;
}

.g_right ul {
  display: flex;
  margin-top: 15px;
}

.g_right ul li {
  margin-right: 25px;
}

.g_right ul li img {
  transition: .6s;
}

.g_right ul li:hover img {
  transform: scale(1.1);
}

.g_right ul li:last-child {
  margin-right: 0;
}

/* ---------------------------------------------------------------- */
/* footer */
footer {
  width: 100%;
  height: 200px;
  border-top: 1px solid #ddd;
  background: #000;
  color: #fff;
  text-align: center;
}

.f_txt ul.f_contact {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}

.f_txt ul.f_contact li:first-child span {
  font-weight: 700;
}

.f_txt ul.f_contact li:hover a {
  color: #910809;
}

.f_txt ul.f_contact li:last-child {
  margin-top: 15px;
}

.f_txt b {
  /* margin-top: 91px; */
}

footer .copy {
  margin-top: 10px;
}

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */