@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
/* @import url('https://fonts.googleapis.com/css?family=Righteous'); */

.body {
  font-size: 15px;
  /* //.글자폰트 크기 수정 */
  font-family: "Noto Sans KR";
}

.container {
  width: 1400px;
  margin: 0 auto;
}

/* ---------------------------------------------------------------- */
/* header */
header {
  width: 100%;
  height: 90px;
  background: #000;
  position: relative;
  z-index: 10;
  font-family: "Inter", sans-serif;
  position: fixed;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

header .container ul.nav_move li i {
  width: 20px;
  height: 20px;
  color: #fff;
  cursor: pointer;
  display: none;
} 

header .container nav {
  width: 900px;
}

header nav .nav_bg {
  width: 100%;
  height: 350px;
  background: #910809;
  position: absolute;
  left: 0; top: 90px;
  display: none;
}

header nav>ul.gnb {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header nav>ul.gnb>li:hover>a {
  color: #910809;
  font-weight: bold;
}

header nav>ul.gnb>li {
  width: 20%;
  text-align: center;
  position: relative;
  font-size: 15px;
  font-weight: 500;
}

header nav>ul.gnb>li>a {
  width: 100%;
  height: 30px;
  line-height: 30px;
  display: block;
  background: black;
  color: #fff;
}

header nav>ul.gnb>li>a img {
  margin-left: 5px;
  margin-bottom: 2px;
}

header nav>ul.gnb>li>ul.sub {
  width: 100%;
  position: absolute;
  left: 0; top: 90px;
  display: none;
}

header nav>ul.gnb>li>ul.sub>li {
  width: 100%; 
  height: 36px;
  line-height: 36px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}

header nav>ul.gnb>li>ul.sub>li:hover {
  color: #000;
  font-weight: bold;
}

header nav>ul.gnb>li>ul.sub>li>a {
  display: block;
}

header .container ul.nav_move li i {
  width: 20px;
  height: 20px;
  color: #fff;
  cursor: pointer;
  display: none;
} 

.navi {
  display: flex;
}

.menu {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 70%;
  background: #910809;
  color: white;
  overflow: hidden;
  transition: bottom 0.3s;
  z-index: 1000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.menu ul {
  list-style: none;
  padding: 20px;
  margin: 0;
}

.menu ul>li {
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}

.menu ul>li b {
  color: white;
  text-decoration: none;
  font-size: 20px;
  border-bottom: 1px solid #fff;
  font-weight: 700;
}

.menu ul>li i {
  margin-bottom: 50px;
}

.menu.show {
  bottom: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: none;
}

.overlay.show {
  display: block;
}

.menu ul>li>ul.menu_sub>li {
  font-size: 16px;
}
/* ---------------------------------------------------------------- */
/* fix */
main ul.fix {
  position: fixed;
  margin-top: 440px;
  margin-left: 1740px;
  z-index: 10;
}

main ul.fix li {
  margin-top: 10px;
}
/* ---------------------------------------------------------------- */
/* selector */
.selector {
  width: 100%;
  height: 400px;
  background: #fff;
}

.selector .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 170px;
}

.selector .container .main_tit {
  font-family: "Inter";
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 0.8;
}

.selector .container .main_tit h2 {
  font-size: 90px;
  font-weight: 400;
  letter-spacing: -2px;
}

.selector .container .main_tit span {
  font-size: 48px;
}

.selector .container .main_tit {
  background-image: -webkit-linear-gradient(92deg, #910809, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.selector_menu {
  flex-wrap: wrap;
  width: 830px;
  height: 160px;
  display: flex;
  align-items: center;
}

.selector_menu ul {
  display: flex;
  color: #333;
  text-align: center;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  cursor: pointer;
}

.selector_menu ul li {
  border: 1px solid #000; 
  background: #FFF;
  width: 265px;
  height: 65px;
  margin-right: 17px;
}

.selector_menu ul li:last-child {
  margin-right: 0;
}

.selector_menu ul li a {
  text-align: center;
  line-height: 65px;
}

.selector_menu ul li:hover {
  background: #910809;
  color: #fff;
}

/* ---------------------------------------------------------------- */
/* work_content */
.work_content {
  width: 100%;
  height: 1000px;
  background: #000;
}

.work_content .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work_content .container ul.main_tit {
  color: #fff;
  font-weight: 400;
  letter-spacing: -0.016px;
  margin-top: 404px;
}

.work_content .container ul.main_tit li h2 {
  font-family: var(--main-tit-font-family);
  font-size: 90px;
  font-weight: 400;
  letter-spacing: -2px;
  margin-bottom: 30px;
  transition:1s;
  -webkit-transition:1s;
  -ms-transition:1s;
  position: relative;
}

/*  */

.work_content .container ul.main_tit li h2:before,
.work_content .container ul.main_tit li h2::after {
  content:"";
  position: absolute;
  height: 7px;
  width: 0px;
  background:#910809;
  transition:300ms;
  -webkit-transition:1s;
  -ms-transition:1s;
  opacity:0.3;
  left:50%;
}

.work_content .container ul.main_tit li h2:before{
  bottom:-20px;
 
}

.work_content .container ul.main_tit li h2:after{
  top:-10px;
}

.work_content .container ul.main_tit li h2:hover{
  letter-spacing:10px;
}

.work_content .container ul.main_tit li h2:hover:before,
.work_content .container ul.main_tit li h2:hover:after{
  width: 95%;
  opacity:1;
  left:0;
}

.work_content .container ul.main_tit li h2:hover ~ h2{
  opacity:0;
}

.work_content .container ul.main_tit li {
  padding: 5px;
}

.work_content .container .mock_up {
  margin-top: 250px;
}

/* ---------------------------------------------------------------- */
/* problem */
.problem {
  width: 100%;
  height: 1000px;
  background: #626560;
}

.problem .container {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 110px;
}

.problem h2 {
  font-family: "Inter";
  font-size: 90px;
  font-weight: 400;
  letter-spacing: -2px;
}

.problem pre {
  font-weight: 300;
  letter-spacing: -0.016px;
  line-height: 25px;
}

.problem pre span {
  font-weight: 900;
}

.before_site {
  margin-top: 100px;
}

/* ---------------------------------------------------------------- */
/* solution */
.solution {
  width: 100%;
  height: 400px;
  background: #626560;
}

.solution .container {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.solution h2 {
  font-family: "Inter";
  font-size: 90px;
  font-weight: 400;
  letter-spacing: -2px;
  margin-bottom: 30px;
  padding-top: 105px;
  background-image: -webkit-linear-gradient(92deg, #910809, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.solution pre {
  font-weight: 400;
  letter-spacing: -0.016px;
  line-height: 25px;
}

.solution pre.sub {
  display: none;
}

.solution pre span {
  font-weight: 900;
}

/* ---------------------------------------------------------------- */
/* wire_style */
.wire_style {
  width: 100%;
  height: 1000px;
  background: #626560;
}

.wire_style .container {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wire_style .container h2 {
  font-family: "Inter";
  font-size: 90px;
  font-weight: 400;
  letter-spacing: -2px;
  margin-bottom: 30px;
  padding-top: 110px;
}

.wire_style .container .w_s_img {
  margin-top: 75px;
  width: 880px;
  display: flex;
  justify-content: space-between;
}

/* ---------------------------------------------------------------- */
/* layout */
.layout {
  width: 100%;
  height: 2240px;
  background: #626560;
  padding-top: 100px;
}

.layout .container {
  color: #fff;
  display: flex;
  align-self: center;
  width: 80%;
}

.layout .container .layout_img {
  width: 100%;
  text-align: center;
}

.layout .container .l_txt {
  letter-spacing: -0.016px;
  width: 60%;
  display: flex;
  flex-direction: column;
} 

.layout .container .l_txt h2 {
  width: 100%;
  font-family: "Inter";
  font-size: 90px;
  font-weight: 400;
  letter-spacing: -2px;
  margin-bottom: 80px;
  position: relative;
}

.layout .container .l_txt aside {
  width: 20%;
  height: var(--layout-aside-height);
  position: sticky;
  top: 100px;
}

/*  */

.layout .container .l_txt h2:before,
.layout .container .l_txt h2::after {
  content:"";
  position: absolute;
  height: 7px;
  width: 0px;
  background:#910809;
  transition:300ms;
  -webkit-transition:1s;
  -ms-transition:1s;
  opacity:0.3;
  left:50%;
}

.layout .container .l_txt h2:before{
  bottom:-20px;
}

.layout .container .l_txt h2:after{
  top:-10px;
}

.layout .container .l_txt h2:hover{
  letter-spacing:10px;
  text-align: center;
}

.layout .container .l_txt h2:hover:before,
.layout .container .l_txt h2:hover:after{
  width: 95%;
  opacity:1;
  left:0;
}

.layout .container .l_txt h2:hover ~ h2{
  opacity:0;
}

/*  */

.layout .container .l_txt pre {
  font-weight: 400;
  line-height: 25px;
  display: flex;
  flex-direction: column;
}

.layout .container .l_txt pre span {
  font-size: 18px;
  font-weight: 700;
}

/* ---------------------------------------------------------------- */
/* check */
.check {
  width: 100%;
  height: 430px;
  background: #910809;
}

.check .container {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.check h2 {
  font-family: "Inter";
  font-size: 90px;
  font-weight: 400;
  letter-spacing: -2px;
  margin-bottom: 30px;
  padding-top: 105px;
}

/*  */

.thin { font-weight: 300; }
.thick { font-weight: 900; }

.check_effect h2 {
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  display: block;

  font-family: "Inter";
  font-size: 90px;
  font-weight: 400;
  letter-spacing: -2px;
  margin-bottom: 30px;
  padding-top: 105px;
  cursor: pointer;
}

.check_effect h2:before, .check_effect h2:after {
  content: '';
  border-bottom: solid 5px white;
  position: absolute;
  bottom: 0;
  width: 0;
}

.check_effect h2:before { left: 0; }
.check_effect h2:after { right: 0; }

.check_effect h2:hover:before, .check_effect h2:hover:after {
  width: 50%;
}

.check_effect h2:before, .check_effect h2:after {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

/*  */

.check pre {
  font-weight: 400;
  letter-spacing: -0.016px;
  line-height: 25px;
}

.check pre.sub {
  display: none;
}

.check pre span {
  font-weight: 900;
}

/* ---------------------------------------------------------------- */
/* go_to_site */
.go_to_site {
  width: 100%;
  height: 1000px;
  background: #000;
}

.go_to_site .container {
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.go_to_site .container .g_site {
  width: 680px;
  height: 510px;
  border: 1px solid #910809;
  display: flex;
  justify-content: center;
  align-items: center;
}

.go_to_site .container .g_site img {
  width: 550px;
  height: 287px;
}

.go_to_site .container ul.main_tit {
  color: #fff;
  font-weight: 400;
  letter-spacing: -0.016px;
  margin-top: 155px;
}

.go_to_site .container ul.main_tit li h2 {
  font-family: var(--main-tit-font-family);
  font-size: var(--main-tit-font-size);
  font-weight: 400;
  letter-spacing: -2px;
  margin-bottom: 30px;
  position: relative;
}

/*  */

.go_to_site .container ul.main_tit li h2:before,
.go_to_site .container ul.main_tit li h2::after {
  content:"";
  position: absolute;
  height: 7px;
  width: 0px;
  background:#910809;
  transition:300ms;
  -webkit-transition:1s;
  -ms-transition:1s;
  opacity:0.3;
  left:50%;
}

.go_to_site .container ul.main_tit li h2:before{
  bottom:-20px;
 
}

.go_to_site .container ul.main_tit li h2:after{
  top:-10px;
}

.go_to_site .container ul.main_tit li h2:hover{
  letter-spacing:10px;
}

.go_to_site .container ul.main_tit li h2:hover:before,
.go_to_site .container ul.main_tit li h2:hover:after{
  width: 95%;
  opacity:1;
  left:0;
}

.go_to_site .container ul.main_tit li h2:hover ~ h2{
  opacity:0;
}

/*  */

.go_to_site .container ul.main_tit li {
  padding: 5px;
}

.go_to_site .container .btn {
  width: 265px;
  height: 65px;
  border: 1px solid #fff;
  line-height: 65px;
  text-align: center;
  margin-top: 70px;
}

.go_to_site .container .btn:hover {
  color: #000;
  background: #910809;
}

.go_to_site .container .btn a {
  font-size: 15px;
  color: #fff;
  font-family: "Inter";
  font-weight: 500;
  padding: 7px 10px 7px 20px;
  align-items: center;
  line-height: 25px;
}

.go_to_site .container .btn:hover a {
  color: #fff;
}

.go_to_site .container .btn i {
  color: #fff;
  margin-left: 46px;
}

/* ---------------------------------------------------------------- */
/* footer */
footer {
  width: 100%;
  height: 200px;
  border-top: 1px solid #ddd;
  background: #000;
  color: #fff;
  text-align: center;
}

.f_txt ul.f_contact {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}

.f_txt ul.f_contact li:first-child span {
  font-weight: 700;
}

.f_txt ul.f_contact li:hover a {
  color: #910809;
}

.f_txt ul.f_contact li:last-child {
  margin-top: 15px;
}

.f_txt b {
  /* margin-top: 91px; */
}

footer .copy {
  margin-top: 10px;
}
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */