@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+KR:wght@100..900&display=swap');


/* --main-color:#5D755D;
  --sub-color1:#394839;
  --sub-color2:#F3EEE2;
  --sub-color3:#E2E2E2;
  --wrapper-color:#F6F8F0;
  --wraper-size:1720px; */

:root{
  --main-tit-font-size : 70px;
  --main-tit-font-family : "Noto Sans KR";
  --layout-aside-height : 900px;
}