@charset "utf-8";

:root {
  --main-color: #86DBC7;
  --wrap-color: #FFFDF8;
  --h2: 90px;
  --black: #111111
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

.container {
  width: 1360px;
  margin: 0 auto;
}

.wrap {
  width: 100%;
  background: var(--wrap-color);
}

h2 {
  font-family: "yangjin";
  font-size: 70px;
  font-weight: 100;
}
