@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  width: 100%;
  height: 100%;
  text-align: center;
  position: fixed;
  left: 0; top: 0;
  background: #000 ;
  font-family: "Noto Sans KR", sans-serif;
}

.comment p {
  color: #333;
  font-size: 20px;
  font-weight: 700;
}

.app_comment p {
  color: #333;
  font-size: 20px;
  font-weight: 700;
}

/* ---------------------------------------------------------------- */
/* background */
.background {
  width: 1145px;
  /* height: 100%; */
  height: 1080px;
  position: absolute;
  left: 50%; top: 0;
  transform: translateX(-50%);
  background: url(../img/bg_wall.png) no-repeat center center;
  overflow: hidden;
}

/* ---------------------------------------------------------------- */
/* elevator */
.elevator {
  position: absolute;
  left: 394px; bottom: 310px;
}

/* ---------------------------------------------------------------- */
/* wood */
.wood {
  position: absolute;
  left: 56px; bottom: 694px;
  cursor: pointer;
}

/* ---------------------------------------------------------------- */
/* backbear */
.backbear {
  position: absolute;
  left: 90px; bottom: 286px;
  cursor: pointer;
}

.backbear .click {
  width: 40px;
  height: 27px;
  position: absolute;
  left: 75px; bottom: 280px;
  background: url(../img/backbear_click.png);
}

.backbear:hover .click {
  animation: clickAni 1s infinite linear;
}

@keyframes clickAni {
  0% {
    transform: translate(0,0);
  }

  100% {
    transform: translate(0,30px);
  }
}

.comment .backbear_comment {
  position: absolute;
  left: 40px; bottom: 350px;
  display: none;
}

.comment .backbear_comment p {
  position: absolute;
  left: 95px; bottom: 100px;
}

/* ---------------------------------------------------------------- */
/* pot_bear */
.pot_bear .pot {
  position: absolute;
  left: 127px; bottom: 280px;
}

.pot_bear .leaf_back {
  position: absolute;
  left: 200px; bottom: 405px;
}

.pot_bear .leaf_front {
  position: absolute;
  left: 116px; bottom: 383px;
  cursor: pointer;
}

/* ---------------------------------------------------------------- */
/* //.move */
.move .move_front {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 640px; bottom: 400px;
  background: url(../img/move3.png);
  animation: moveFrontAni 2s infinite linear;
  z-index: 11;
}

@keyframes moveFrontAni {
  0% {
    bottom: 400px;
  }

  25% {
    bottom: 270px;
    transform: rotate(-60deg);
  }
  
  50% {
    bottom: 300px;
    transform: rotate(60deg);
  }

  75% {
    bottom: 180px;
    transform: rotate(-60deg);
  }

  100% {
    left: 600px;
    transform: rotate(360deg);
  }
}

.down_bear {
  position: absolute;
  left: 633px; bottom: 190px;
  cursor: pointer;
  z-index: 10;
}

.down_bear .click {
  width: 40px;
  height: 27px;
  position: absolute;
  left: 65px; bottom: 170px;
  background: url(../img/downbear_click.png);
}

.down_bear:hover .click {
  animation: clickAni 1s infinite linear; 
}

@keyframes clickAni {
  0% {
    transform: translate(0,0);
  }

  100% {
    transform: translate(0,30px);
  }
}

.comment .down_bear_comment {
  position: absolute;
  left: 960px; bottom: 270px;
  display: none;
}

.comment .down_bear_comment p {
  position: absolute;
  left: 60px; bottom: 150px;
}

.move .move_back {
  width: 299px;
  height: 99px;
  position: absolute;
  right: 0; bottom: 240px;
  background: url(../img/move4.png);
  animation: moveBackAni 10s infinite linear;
}

@keyframes moveBackAni {
  0% {
    right: 0;
  }

  100% {
    right: 100%;
  }
}



/* ---------------------------------------------------------------- */
/* //.honey */
.honey {
  position: absolute;
  left: 762px; bottom: 268px;
  cursor: pointer;
}

.honey .click {
  width: 40px;
  height: 27px;
  position: absolute;
  left: 175px; bottom: 430px;
  background: url(../img/honey_click.png);
}

.honey:hover .click {
  animation: clickAni 1s infinite linear;
}

.comment .honey_comment {
  position: absolute;
  left: 1200px; bottom: 610px;
  display: none;
}

.comment .honey_comment p {
  position: absolute;
  left: 60px; bottom: 150px;
}

/* ---------------------------------------------------------------- */
/* //.mainbear */
.ninja_mainbear {
  position: absolute;
  left: 430px; bottom: 346px;
  cursor: pointer;
}

.ninja_mainbear .click {
  width: 29px;
  height: 20px;
  position: absolute;
  left: 5px; bottom: 250px;
  background: url(../img/ninja_mainbear_click.png);
}

.ninja_mainbear:hover .click {
  animation: clickAni 1s infinite linear;
}

.comment .ninja_mainbear_comment {
  position: absolute;
  left: 445px; bottom: 400px;
  display: none;
}

.comment .ninja_mainbear_comment p {
  position: absolute;
  left: 90px; bottom: 130px;
}

/* ---------------------------------------------------------------- */
/* //.ele_btn */
.ele_btn_bg {
  position: absolute;
  left: 1555px; bottom: 50px;
}

.ele_btn .click {
  width: 48px;
  height: 32px;
  position: absolute;
  left: 148px; bottom: 750px;
  background: url(../img/ele_click.png);
}

.ele_btn:hover .click {
  animation: clickAni 1s infinite linear;
}

.apps img {
  cursor: pointer;
}

.apps img.setting  {
  position: absolute;
  left: 1602px; bottom: 640px;
}

.apps img.mugic  {
  position: absolute;
  left: 1740px; bottom: 640px;
}

.apps img.map  {
  position: absolute;
  left: 1602px; bottom: 476px;
}

.apps img.time  {
  position: absolute;
  left: 1740px; bottom: 476px;
}

.apps img.gallery  {
  position: absolute;
  left: 1602px; bottom: 314px;
}

.apps img.timer  {
  position: absolute;
  left: 1740px; bottom: 314px;
}

.apps img.message  {
  position: absolute;
  left: 1602px; bottom: 152px;
}

.apps img.tel  {
  position: absolute;
  left: 1740px; bottom: 152px;
}

/* ---------------------------------------------------------------- */
/* app_comment */
.app_comment article {
  position: absolute;
  left: 1050px; bottom: 420px;
  display: none;
}

.app_comment .setting_comment p {
  position: absolute;
  left: 100px; bottom: 110px;
}

.app_comment .setting_comment .btn {
  position: absolute;
  left: 170px; bottom: 50px;
}

.app_comment .mugic_comment p {
  position: absolute;
  left: 90px; bottom: 100px;
}

.app_comment .mugic_comment .btn {
  position: absolute;
  left: 170px; bottom: 40px;
}

.app_comment .map_comment p {
  position: absolute;
  left: 100px; bottom: 110px;
}

.app_comment .map_comment .btn {       
  position: absolute;
  left: 170px; bottom: 50px;
}

.app_comment .app_time_comment p {
  position: absolute;
  left: 100px; bottom: 130px;
}

.app_comment .app_time_comment .btn {       
  position: absolute;
  left: 170px; bottom: 60px;
}

.app_comment .app_gallery_comment p {
  position: absolute;
  left: 75px; bottom: 120px;
}

.app_comment .app_gallery_comment .btn {       
  position: absolute;
  left: 170px; bottom: 50px;
}

.app_comment .app_timer_comment p {
  position: absolute;
  left: 95px; bottom: 110px;
}

.app_comment .app_timer_comment .btn {
  position: absolute;
  left: 170px; bottom: 50px;
}

.app_comment .app_message_comment p {
  position: absolute;
  left: 105px; bottom: 110px;
}

.app_comment .app_message_comment .go_btn {
  position: absolute;
  left: 140px; bottom: 50px;
}

.app_comment .app_message_comment .btn {
  position: absolute;
  left: 200px; bottom: 50px;
}

.app_comment .app_tel_comment p {
  position: absolute;
  left: 110px; bottom: 130px;
}

.app_comment .app_tel_comment .btn {       
  position: absolute;
  left: 170px; bottom: 60px;
}

/* ---------------------------------------------------------------- */
.comment article {
  display: none;
}

.comment article.on {
  display: block;
}

.go_btn {
  width: 50px; 
  height: 50px; 
  background: pink;
  border-radius: 50px;
  cursor: pointer; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.go_btn:hover {
  background: aqua;
}

.go_btn span {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
}

.btn {
  width: 50px; 
  height: 50px; 
  background: aqua;
  border-radius: 50px;
  cursor: pointer; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.btn:hover {
  background: pink;
}

.btn span {
  font-size: 25px;
  font-weight: 500;
}

.comment article.backbear_comment .btn {
  position: absolute; 
  left: 130px; bottom: 40px;
}

.comment article.honey_comment .btn {
  position: absolute; 
  left: 120px; bottom: 80px;
}

.comment article.down_bear_comment .btn {
  position: absolute; 
  left: 120px; bottom: 70px;
}

.comment article.ninja_mainbear_comment .btn {
  position: absolute; 
  left: 140px; bottom: 50px;
}

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */