@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  width: 100%;
  height: 100%;
  text-align: center;
  position: fixed;
  left: 0; top: 0;
  background: #000 ;
  font-family: "Noto Sans KR", sans-serif;
}

.comment p {
  color: #333;
  font-size: 20px;
  font-weight: 700;
}

.app_comment p {
  color: #333;
  font-size: 20px;
  font-weight: 700;
}

/* ---------------------------------------------------------------- */
/* background */
.background {
  width: 1145px;
  /* height: 100%; */
  height: 1080px;
  position: absolute;
  left: 50%; top: 0;
  transform: translateX(-50%);
  background: url(../img/bg_black.png) no-repeat center center;
  overflow: hidden;
}

/* ---------------------------------------------------------------- */
/* //.app_floor */
.app_floor {
  width: 375px;
  height: 950px;
  position: absolute;
  left: 89px; bottom: 130px;
}

/* ---------------------------------------------------------------- */
/* //.ele_bar */
.ele_bar {
  position: absolute;
  left: 820px; bottom: 0;
}

/* ---------------------------------------------------------------- */
/* //.ele_bear */
.ele_close {
  width: 196px;
  height: 306px;
  position: absolute;
  left: 820px; 
  bottom: 450px;
  animation: openAni 3s linear 1 forwards;
}

@keyframes openAni {
  0% {
    background-image: url(../img/elevator1.png);
  }

  33.33% {
    background-image: url(../img/elevator1.png);
  }

  33.34% {
    background-image: url(../img/elevator2.png);
  }

  66.66% {
    background-image: url(../img/elevator2.png);
  }

  66.67% {
    background-image: url(../img/elevator3.png);
  }

  100% {
    background-image: url(../img/elevator3.png);
  }
}

/* ---------------------------------------------------------------- */
/* //.ele_btn */
.ele_btn_bg {
  position: absolute;
  left: 1555px; bottom: 50px;
}

.ele_btn .click {
  width: 48px;
  height: 32px;
  position: absolute;
  left: 148px; bottom: 750px;
  background: url(../img/ele_click.png);
}

.ele_btn:hover .click {
  animation: clickAni 1s infinite linear;
}

.apps img {
  cursor: pointer;
}

.apps img.setting  {
  position: absolute;
  left: 1602px; bottom: 640px;
}

.apps img.mugic  {
  position: absolute;
  left: 1740px; bottom: 640px;
}

.apps img.map  {
  position: absolute;
  left: 1602px; bottom: 476px;
}

.apps img.time  {
  position: absolute;
  left: 1740px; bottom: 476px;
}

.apps img.gallery  {
  position: absolute;
  left: 1602px; bottom: 314px;
}

.apps img.timer  {
  position: absolute;
  left: 1740px; bottom: 314px;
}

.apps img.message  {
  position: absolute;
  left: 1602px; bottom: 152px;
}

.apps img.tel  {
  position: absolute;
  left: 1740px; bottom: 152px;
}

/* ---------------------------------------------------------------- */
/* app_comment */
.app_comment article {
  position: absolute;
  left: 840px; bottom: 440px;
  display: none;
}

.app_comment .setting_comment p {
  position: absolute;
  left: 120px; bottom: 160px;
}

.app_comment .setting_comment .btn {
  position: absolute;
  left: 190px; bottom: 90px;
}

.app_comment .mugic_comment p {
  position: absolute;
  left: 105px; bottom: 150px;
}

.app_comment .mugic_comment .btn {
  position: absolute;
  left: 190px; bottom: 80px;
}

.app_comment .map_comment p {
  position: absolute;
  left: 120px; bottom: 170px;
}

.app_comment .map_comment .btn {       
  position: absolute;
  left: 190px; bottom: 90px;
}

.app_comment .app_time_comment p {
  position: absolute;
  left: 125px; bottom: 170px;
}

.app_comment .app_time_comment .btn {       
  position: absolute;
  left: 190px; bottom: 90px;
}

.app_comment .app_gallery_comment p {
  position: absolute;
  left: 90px; bottom: 170px;
}

.app_comment .app_gallery_comment .btn {       
  position: absolute;
  left: 190px; bottom: 100px;
}

.app_comment .app_timer_comment p {
  position: absolute;
  left: 110px; bottom: 140px;
}

.app_comment .app_timer_comment .btn {
  position: absolute;
  left: 190px; bottom: 80px;
}

.app_comment .app_message_comment p {
  position: absolute;
  left: 120px; bottom: 160px;
}

.app_comment .app_message_comment .btn {
  position: absolute;
  left: 190px; bottom: 90px;
}

.app_comment .app_tel_comment p {
  position: absolute;
  left: 130px; bottom: 170px;
}

.app_comment .app_tel_comment .btn {       
  position: absolute;
  left: 190px; bottom: 90px;
}

/* ---------------------------------------------------------------- */
.comment article {
  display: none;
}

.comment article.on {
  display: block;
}

.btn {
  width: 50px; 
  height: 50px; 
  background: aqua;
  border-radius: 50px;
  cursor: pointer; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.btn:hover {
  background: pink;
}

.btn span {
  font-size: 25px;
  font-weight: 500;
}

.comment article.backbear_comment .btn {
  position: absolute; 
  left: 130px; bottom: 40px;
}

.comment article.honey_comment .btn {
  position: absolute; 
  left: 120px; bottom: 80px;
}

.comment article.down_bear_comment .btn {
  position: absolute; 
  left: 120px; bottom: 70px;
}

.comment article.ninja_mainbear_comment .btn {
  position: absolute; 
  left: 140px; bottom: 50px;
}

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */